# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/

# Ignore npm packages
node_modules/

# Ignore logs
*.log

# Ignore other files
*.DS_Store
*.vscode/
